/*

    ## Gutenberg

*/
.rayure {
    @include rayure(45deg, #000, #222, 10px, 20px);
}

.animbloc1 {
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

@keyframes flip-horizontal-bottom {
0% {
            transform: rotateX(0);
}
100% {
            transform: rotateX(-180deg);
}
}

.animbloc2 {
    animation: rotate-scale-up 0.65s linear both;
}

@keyframes rotate-scale-up {
    0% {
              transform: scale(1) rotateZ(0);
    }
    50% {
              transform: scale(0.01) rotateZ(180deg);
    }
    100% {
              transform: scale(1) rotateZ(360deg);
    }
  }